.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}
.fighter-preview___root div {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 18px;
  background-color: tomato;
  padding: 10px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
